body {
	padding: 0;
	margin: 0;
	min-height: 600px;
}

.banner {
	border: none;
	position: relative;
}

.banner .z-label {
	font-size: 40px;
	padding: 0 0 0 0;
}

/* Menu bar*/
.z-menubar {
	border: none;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	background-color: #a6ffff;
}

.z-menubar ul {
	height: 40px;
	padding-left: 15px;
	background-color: #a6ffff;
}

.z-menubar ul li {
	padding-top: 5px;
	padding-bottom: 5px;
	border-left: 2px solid #5a66fa;
}

.z-menu-text, .z-menuitem-text {
	font-size: 25px;
}

.z-menu-image, .z-menuitem-image {
	max-width: 22px;
	margin-right: 3px;
}
/**/
.z-center-body {
	/* 	background-image: url("VPT.png");
 */
	
}

/*Search box*/
.gridDateSearch, .gridSearch {
	border: none;
}

.gridSearch .z-grid-odd .z-cell {
	background: none;
}

/* .gridDateSearch .z-grid-odd .z-row-inner {
	background: none;
} */
.z-groupbox>.z-groupbox-header .z-groupbox-title-content {
	font-size: 18px;
	font-weight: bold;
}

.gridSearch .z-label {
	font-size: 16px;
}

.gridSearch .z-button {
	font-size: 20px;
	color: #ff8000;
}

.gridSearch .z-button .z-button-image {
	width: 20px;
}

/*list download*/
.gridDownload {
	margin-left: 15px;
	margin-right: 15px;
}

.gridDownload .z-grid-header {
	
}

.gridDownload .z-auxhead .z-auxheader .z-auxheader-content {
	background-color: red;
}

.gridDownload .z-label {
	font-size: 16px;
}

.gridDownload .z-grid-odd .z-row-inner {
	border-top: 1px dashed #b7b7b7;
	border-bottom: 1px dashed #b7b7b7;
}

.gridDownload .z-column .z-column-content {
	font-size: 20px;
	color: #ff5e5e;
	font-family: serif;
}

.z-row-content {
	vertical-align: middle;
}
/*Download*/
.download-class {
	float: right;
	padding-right: 15px;
}

.download-class .z-label {
	font-size: 18px;
	font-family: serif;
}

.download-class .z-button {
	font-size: 18px;
	height: 30px;
	background: #275b89;
	text-shadow: none;
	color: white;
}

/*upload*/
.upload {
	margin-left: 25px;
	margin-right: 25px;
}

.dropupload {
	border: 1px dashed black;
	height: 200px;
	border-radius: 5px;
	background-size: contain;
	background: #f7f7f7 url("dragndrop.png") no-repeat center;
}

.upload .z-button .z-button-image {
	width: 18px;
}

.upload .z-hlayout-inner .z-button {
	font-style: italic;
	font-weight: bold;
	/*font-family: 'Times New Roman', Times, serif; */
	font-size: 20px;
}

.upload .z-hlayout-inner .z-label {
	/*font-family: 'Times New Roman', Times, serif; */
	font-size: 20px;
}

.z-hlayout-inner {
	vertical-align: middle;
}

/*user-info*/
.userinfo {
	
}

.userinfo .z-groupbox {
	margin: 0 auto;
}

.userinfo .z-label {
	font-size: 16px;
}

.userinfo .z-textbox {
	font-size: 16px;
}

.userinfo .z-button {
	font-size: 16px;
}

/*admin*/
.adminstration{
	margin-left: 15px;
}
.adminstration .z-hlayout-inner {
	vertical-align: top;
}

.adminstration .z-label {
	font-size: 16px;
}

.adminstration .z-textbox {
	font-size: 16px;
}

.adminstration .z-button {
	font-size: 16px;
}